/* Reseting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

select {
    color: black;
}

body {
    background: #ecf0f3;
    background-image: url(/images/Galaxy-background.jpg);
    /* background-repeat: no-repeat; */
    /* background-size: 1920px 1080px; */
}

main {
    display: flex;
    justify-content: center;
    text-align: center;
}

header {
    margin-top: 60px;
    margin-bottom: 60px;
    display: block;
    text-align: center;
    font-size: 20px;
}

header * {
    font-family: 'AlphaCentauri', sans-serif;
    margin: 40px;
}

#login {
    display: flex;
    justify-content: center;
    padding: 100px;
}

.wrapper {
    max-width: 350px;
    min-height: 400px;
    padding: 40px 30px 30px 30px;
    background-color: #ecf0f3;
    border-radius: 15px;
    box-shadow: 13px 13px 20px rgb(18, 47, 77), -13px -13px 20px rgb(255, 255, 255)000;
}

.login {
    width: 80px;
    margin: auto;
}

.wrapper .name {
    font-weight: 600;
    font-size: 1.4rem;
    letter-spacing: 1.3px;
    padding-left: 10px;
    color: #555;
}

.wrapper .form-field input {
    width: 100%;
    display: block;
    border: none;
    outline: none;
    background: none;
    font-size: 1.2rem;
    color: #000000;
    padding: 10px 15px 10px 10px;
    /* border: 1px solid red; */
}

.wrapper .form-field {
    padding-left: 10px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #fff;
}

.wrapper .form-field .fas {
    color: #555;
}

.wrapper .btn {
    box-shadow: none;
    width: 100%;
    height: 40px;
    background-color: #000000;
    color: #fff;
    border-radius: 25px;
    box-shadow: 3px 3px 3px #b1b1b1,
        -3px -3px 3px #fff;
    letter-spacing: 1.3px;
}

.wrapper .btn:hover {
    background-color: #000000;
}

.wrapper a {
    text-decoration: none;
    font-size: 1rem;
    color: #000000;
}

.wrapper a:hover {
    color: #000000;
}

/* Navigation */
#stickButton {
    position: fixed;
    top: 25px;
    right: 30px;
    width: 40px;
    cursor: pointer;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

#stickButton:hover {
    background-color: rgba(225, 225, 225, 0.8);
}

#stickButton:active {
    background-color: rgba(200, 200, 200, 0.8);
}

nav {
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.8);
    position: fixed;
    display: inline-flex;
    flex-direction: column;
    z-index: 5;
    transition: right 0.65s;
    border-radius: 15px;
    top: 90px;
    width: 160px;
    right: 30px;
}

nav div {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 0px;
}

nav div > a {
    padding-left: 30px;
}

nav a, nav button {
    font-family: 'AlphaCentauri', sans-serif;
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

nav button {
    color: black;
    border: 0;
    text-align:left;
    background-color: transparent; 
    cursor: pointer;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover, nav button:hover {
    background-color: rgba(190, 190, 190, 0.8);
}

nav a:active, nav button:active {
    background-color: rgba(150, 150, 150, 0.8);
}

nav a.highlight {
    background-color: rgba(170, 170, 170, 0.8);
}

/* FAQ Page */
#faq {
    width: 1000px;
    margin:auto;
    flex-direction: column;
    align-items: center;
}

#faq > h1 {
    margin: 50px;
}

#faq section {
    position: relative;
    border-radius: 10px;
    margin: 10px;
    width: 100%;
}

#faq section > * {
    padding-left: 30px;
    padding-right:30px;
}

/*Visualization
.box {
  width: 600px;
  height: 350px;
  border: 1px solid #000000;
  background-color: #555;
  padding: 50px;
  margin: 60px 300px;
  box-sizing: border-box;
}
*/

.Space * {
    margin-bottom: 45px;
}

/*Planet Tables*/
h2 {
    text-align: center;
}

table{
    border: 2px black;
    margin: auto;
}
tr, td{
    border: 2px black;
    padding: 8px;
}