body {
    margin: 0;
    padding: 0;
}

nav {
    overflow: scroll;
    background-color: rgba(235, 235, 235, 0.5);
    position: fixed;
    right: 0;
    display: inline-flex;
    flex-direction: column;
    height: 100vh;
    border-left: 1px solid black;
}

nav section {
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

nav section>a {
    padding-left: 20px;
}

nav a, nav button {
    font-size: 18px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 30px;
}

nav button {
    border: 0;
    text-align:left;
    background-color: transparent;
}

nav a {
    color: black;
    text-decoration: none;
}

nav a:hover {
    background-color: rgba(225, 225, 225, 0.5);
}

nav a.highlight {
    background-color: rgba(200, 200, 200, 0.5);
}